spring:
  datasource:
    url: ${SUPABASE_DATABASE_URL}

  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://${EUREKA_HOST}:8761/eureka

server:
  port: 8081